<?xml version="1.0" encoding="UTF-8"?>

<!-- | This is the configuration file for Maven. It can be specified at two levels: | | 1. User Level. This settings.xml file provides configuration for a single user, | and is normally provided in ${user.home}/.m2/settings.xml. | | NOTE: This location can be overridden with the CLI option: | | -s /path/to/user/settings.xml | | 2. Global Level. This settings.xml file provides configuration for all Maven | users on a machine (assuming they're all using the same Maven | installation). It's normally provided in | ${maven.home}/conf/settings.xml. | | NOTE: This location can be overridden with the CLI option: | | -gs /path/to/global/settings.xml | | |-->

<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://maven.apache.org/SETTINGS/1.0.0">

<!-- Change username in below line -->


<localRepository>C:\Users\kaush\.m2\repository</localRepository>

<interactiveMode>true</interactiveMode>

<offline>false</offline>

<pluginGroups>
<pluginGroup>com.your.plugins</pluginGroup>
</pluginGroups>


<proxies>


<proxy>

<id>optional</id>

<active>false</active>

<protocol>http</protocol>

<username/>

<password/>

<host></host>

<port></port>

<nonProxyHosts>local.net|some.host.com</nonProxyHosts>

</proxy>

</proxies>


<servers>
<server>

<id>deploymentRepo</id>

<username>crunchify</username>

<password>crunchify</password>

</server>

</servers>


<mirrors>


<mirror>

<id>mirrorId</id>

<mirrorOf>repositoryId</mirrorOf>

<name>mirror description</name>

<url>https://repo.maven.apache.org/maven2/</url>

</mirror>

</mirrors>

<profiles> </profiles>

</settings>